.container {
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--greyish-color);
    background: #FFF;
}

.container .content-header {
    padding: 30px;
}

.container span {
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--greyish-color);
    margin: 10px 0;
}